<a href="https://colab.research.google.com/github/Xander50/PRO-130/blob/main/PRO_130.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!git clone https://github.com/procodingclass/PRO-Stars-Dataset-CSVs

Cloning into 'PRO-Stars-Dataset-CSVs'...
remote: Enumerating objects: 26, done.
remote: Counting objects: 100% (26/26), done.
remote: Compressing objects: 100% (17/17), done.
remote: Total 26 (delta 10), reused 12 (delta 5), pack-reused 0
Unpacking objects: 100% (26/26), 27.75 KiB | 3.08 MiB/s, done.

In [5]:
import pandas as pd
df=pd.read_csv('/content/PRO-Stars-Dataset-CSVs/total_stars.csv')

df

,Unnamed: 0,Star_name,Distance,Mass,Radius,Luminosity,Unnamed: 6,Star_name.1,Distance.1,Mass.1,Radius.1
0,0,Sun,0.000015813,1,1,1,NaN,NaN,NaN,NaN,NaN
1,1,Sirius,0008.6,2.1,1.71´,25.4,NaN,NaN,NaN,NaN,NaN
2,2,Canopus,0310,15,71,"13,500",NaN,NaN,NaN,NaN,NaN
3,3,Alpha Centauri,0004.4,1.1,1.2,2,NaN,NaN,NaN,NaN,NaN
4,4,Arcturus,0037,1.1,26,170,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
249,153,2MASSI J2356547-155310,74.0,0.07636704,0.11201167000000001,NaN,NaN,NaN,NaN,NaN,NaN
250,154,WISE 0410+1502,20.0,0.005727528,0.12023270999999998,NaN,NaN,NaN,NaN,NaN,NaN
251,155,WISE 0458+6434A,35.9,0.014318820000000001,0.4316046,NaN,NaN,NaN,NaN,NaN,NaN
252,156,WISE 0458+6434B,35.9,0.00954588,0.39049939999999994,NaN,NaN,NaN,NaN,NaN,NaN
253,157,WISE 1405+5534,25.3,0.028637640000000002,0.08837618,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
df.columns

Index(['Unnamed: 0', 'Star_name', 'Distance', 'Mass', 'Radius', 'Luminosity',
       'Unnamed: 6', 'Star_name.1', 'Distance.1', 'Mass.1', 'Radius.1'],
      dtype='object')

In [7]:
df.dropna(axis=0, how='any').head(5)

Empty DataFrame
Columns: [Unnamed: 0, Star_name, Distance, Mass, Radius, Luminosity, Unnamed: 6, Star_name.1, Distance.1, Mass.1, Radius.1]
Index: []

In [8]:
df.columns

Index(['Unnamed: 0', 'Star_name', 'Distance', 'Mass', 'Radius', 'Luminosity',
       'Unnamed: 6', 'Star_name.1', 'Distance.1', 'Mass.1', 'Radius.1'],
      dtype='object')

In [10]:
df.drop(['Unnamed: 0','Unnamed: 6','Star_name.1','Distance.1','Mass.1','Radius.1','Luminosity'],axis=1 , inplace=True)

In [11]:
df

,Star_name,Distance,Mass,Radius
0,Sun,0.000015813,1,1
1,Sirius,0008.6,2.1,1.71´
2,Canopus,0310,15,71
3,Alpha Centauri,0004.4,1.1,1.2
4,Arcturus,0037,1.1,26
...,...,...,...,...
249,2MASSI J2356547-155310,74.0,0.07636704,0.11201167000000001
250,WISE 0410+1502,20.0,0.005727528,0.12023270999999998
251,WISE 0458+6434A,35.9,0.014318820000000001,0.4316046
252,WISE 0458+6434B,35.9,0.00954588,0.39049939999999994
253,WISE 1405+5534,25.3,0.028637640000000002,0.08837618

In [12]:
final_data=df.dropna()
final_data

,Star_name,Distance,Mass,Radius
0,Sun,0.000015813,1,1
1,Sirius,0008.6,2.1,1.71´
2,Canopus,0310,15,71
3,Alpha Centauri,0004.4,1.1,1.2
4,Arcturus,0037,1.1,26
...,...,...,...,...
249,2MASSI J2356547-155310,74.0,0.07636704,0.11201167000000001
250,WISE 0410+1502,20.0,0.005727528,0.12023270999999998
251,WISE 0458+6434A,35.9,0.014318820000000001,0.4316046
252,WISE 0458+6434B,35.9,0.00954588,0.39049939999999994
253,WISE 1405+5534,25.3,0.028637640000000002,0.08837618

In [13]:
final_data.describe()

       Star_name Distance                  Mass               Radius
count        253      253                   253                  253
unique       253      199                   156                  144
top          Sun     47.0  0.040092696000000004  0.09659721999999998
freq           1        4                     7                   20

In [14]:
final_data.head()

        Star_name     Distance Mass Radius
0             Sun  0.000015813    1      1
1          Sirius       0008.6  2.1  1.71´
2         Canopus         0310   15     71
3  Alpha Centauri       0004.4  1.1    1.2
4        Arcturus         0037  1.1     26

In [15]:
final_data.dtypes

Star_name    object
Distance     object
Mass         object
Radius       object
dtype: object

In [16]:
final_data.to_csv('final_data.csv')
from google.colab import files
files.download('final_data.csv')